<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <clear/>
    <!--连接数据库名Sql、MySql-->
    <add key="DBOpenControllerName" value="Sql"/>
    <!--<add key="DBOpenControllerName" value="MySql"/>-->
    <!--数据库连接字符串-->
    <add key="book_shop3" value="Data Source=192.168.1.66;Initial Catalog=book_shop3;User ID=sa;Password=0000"/>    
    <add key="mybatis" value="server=192.168.1.66;user=root;database=mybatis;password=0000;port=3306;"/>
  </appSettings>
</configuration>